CREATE TABLE IF NOT EXISTS articles (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nom TEXT UNIQUE,
    sh TEXT,
    dd REAL,
    categorie TEXT
);

CREATE TABLE IF NOT EXISTS dossiers (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    date TEXT,
    client TEXT,
    article TEXT,
    fob_xof REAL,
    total_facture REAL,
    solde_du REAL,
    statut TEXT,
    document_path TEXT
);
